:root{
    --light-blue: #A2B2EE;
    --dark-blue: #5F7ADB;
    --transparent-grey: #252525;
    --brown: #b54e00;
}
*{
    font-family: Outfit, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    border-color: transparent;
    text-align: justify;
    /* outline: 1px solid red; */
}
body{
    background-color: var(--transparent-grey);
    background-image: url(fern-1250903_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    padding: 1rem 0;
}

nav, footer{
  margin: 0rem 9rem;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1rem 2rem;
    transition: background-color 400ms;
    border-radius: 15px;
}
.nav.sticking{
    background-color: rgb(0, 166, 196);
}
ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
a{
    text-decoration: none;
}

/* Hover effect for text */
a {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  a:before, a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0%;
    margin-top: -0.5px;
    background: #fff;
  }
  
  a:before {
    left: -2.5px;
  }
  a:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  a:not(.noEffect):hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  a:not(.noEffect):hover:after  {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

  /* Hover effect end */

  .color-heading{
    color: #7ac6ff;
  }
  
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem clamp(1rem, 10%, 9rem);
  }
  
  .profile_pic{
      filter: drop-shadow(1.4rem 0 1rem #000000);
  }

.about-heading{
    padding: 0  clamp(0px, 5%, 10px) 0  clamp(0px, 25%, 500px);
}

#skills{
  padding: 2rem 9rem;
    display: grid;
    place-items: center;
    grid-template-columns: 20% clamp(0%, 35%, 35%) 45%;
}

.skill-set{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.skill{
    padding: .5rem 1rem;
    background-color: var(--light-blue);
    border-radius: 12px;
    color: #000000;
    font-weight: 600;
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: clamp(1rem, 5%, 2rem);
}

.card{
    background-color: var(--transparent-grey);
    backdrop-filter: blur(25px);
    padding: 2rem 4rem;
    width: 60%;
    border-radius: 25px;
    display: grid;
    place-items: center;
    gap: 2rem;
}

.card h1{
  text-align: center;
}

.card img{
    width: 100%;
}

.card p{
    padding: 0 ;
}

.language{
    color: var(--dark-blue);
    font-weight: 600;
    word-spacing: 10px;
}



/* UIverse start */
.button {
    font-weight: bold;
    background-color: var(--light-blue);
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 15px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: black;
    z-index: 1;
  }
  
  .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
  }
  
  .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
/* UIverse end */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    outline: 1px solid lime;
    background-color: #000000;
    padding: 1.5rem 4rem;
    border-radius: 25px;
    flex-wrap: wrap;
}

.details, .contacts{
    flex: 50%;
}
.details{
    display: grid;
    font-weight: 600;
    grid-template-columns: 25% 1fr;
}

.menu{
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {scale: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* media query */
@media (max-width: 800px) {
  body{
    padding: 0;
    backdrop-filter: blur(10px);
    font-weight: 600;
  }
  nav, footer{
    margin: 0;
    border-radius: 0;
  }
  .menu{
    display: inline-block;
  }
  .ul{
    display: none;
    position: absolute;
    right: 0;
    top: 80px;
  }
  .menulist{
    display: grid;
    gap: 1.5rem;    
    min-width: 40vw;
    padding: 20px;
    background-color: #7ac6ff;
  }
  header{
    padding: 1rem clamp(1rem, 5%, 9rem);
  }
  .about-heading{
    padding: 0  clamp(0px, 5%, 10px) 0  clamp(0px, 7%, 15%);
  }
  #skills{
    grid-template-columns: none;
    grid-template-rows: auto 20px auto;
    padding: clamp(0px, 1rem, 2rem) clamp(30px, 5vw, 5vw);
  }
  #projects{
    padding: 2%;
  }
  .card{
    padding: clamp(10px, 5%, 10%);
  }
}

@media (max-width: 550px){
  
  header{
    flex-wrap: wrap;
    padding: 0 0 5vw 0;
  }
  .about-heading{
    padding: 0px clamp(0px, 5%, 5vw);
  }
  .card{
    width: 90%;
  }

}